.svg-18plus {
    background: url("svg/sprite.css-22165d0e.svg") 80.93905191873588% 70.59133986928104% no-repeat;
}

.svg-18plus-dims {
    width: 24px;
    height: 24px;
}

.svg-Casino {
    background: url("svg/sprite.css-22165d0e.svg") 78.92359550561798% 76.57775974025974% no-repeat;
}

.svg-Casino-dims {
    width: 20px;
    height: 20px;
}

.svg-DBM {
    background: url("svg/sprite.css-22165d0e.svg") 79.32413793103449% 67.04668820678513% no-repeat;
}

.svg-DBM-dims {
    width: 40px;
    height: 17px;
}

.svg-DF {
    background: url("svg/sprite.css-22165d0e.svg") 83.06257110352674% 67.04668820678513% no-repeat;
}

.svg-DF-dims {
    width: 31px;
    height: 17px;
}

.svg-DTV {
    background: url("svg/sprite.css-22165d0e.svg") 85.47309417040358% 76.32993527508091% no-repeat;
}

.svg-DTV-dims {
    width: 18px;
    height: 18px;
}

.svg-Line {
    background: url("svg/sprite.css-22165d0e.svg") 79.5753768844221% 65.14495268138802% no-repeat;
}

.svg-Line-dims {
    width: 114px;
    height: 2px;
}

.svg-New_Round {
    background: url("svg/sprite.css-22165d0e.svg") 99.89219330855018% 0 no-repeat;
}

.svg-New_Round-dims {
    width: 372px;
    height: 373px;
}

.svg-appstore {
    background: url("svg/sprite.css-22165d0e.svg") 86.85625806451611% 62.58389261744966% no-repeat;
}

.svg-appstore-dims {
    width: 135px;
    height: 40px;
}

.svg-az-sport {
    background: url("svg/sprite.css-22165d0e.svg") 83.64785553047405% 70.59133986928104% no-repeat;
}

.svg-az-sport-dims {
    width: 24px;
    height: 24px;
}

.svg-cards {
    background: url("svg/sprite.css-22165d0e.svg") 0 0 no-repeat;
}

.svg-cards-dims {
    width: 537.42px;
    height: 635.16px;
}

.svg-clipboard {
    background: url("svg/sprite.css-22165d0e.svg") 81.17078651685394% 76.57775974025974% no-repeat;
}

.svg-clipboard-dims {
    width: 20px;
    height: 20px;
}

.svg-clock-green {
    background: url("svg/sprite.css-22165d0e.svg") 86.16216216216216% 70.59133986928104% no-repeat;
}

.svg-clock-green-dims {
    width: 22px;
    height: 24px;
}

.svg-colossus {
    background: url("svg/sprite.css-22165d0e.svg") 88.83972911963883% 70.59133986928104% no-repeat;
}

.svg-colossus-dims {
    width: 24px;
    height: 24px;
}

.svg-cricket {
    background: url("svg/sprite.css-22165d0e.svg") 91.54853273137698% 70.59133986928104% no-repeat;
}

.svg-cricket-dims {
    width: 24px;
    height: 24px;
}

.svg-exposure-icon {
    background: url("svg/sprite.css-22165d0e.svg") 76.65016872890888% 76.70227642276423% no-repeat;
}

.svg-exposure-icon-dims {
    width: 21px;
    height: 21px;
}

.svg-gamblingcom {
    background: url("svg/sprite.css-22165d0e.svg") 98.31338199513381% 60.947712418300654% no-repeat;
}

.svg-gamblingcom-dims {
    width: 88px;
    height: 24px;
}

.svg-golf {
    background: url("svg/sprite.css-22165d0e.svg") 74.23180592991913% 71.64146383566374% no-repeat;
}

.svg-golf-dims {
    width: 56.7px;
    height: 56.7px;
}

.svg-greyhound-racing {
    background: url("svg/sprite.css-22165d0e.svg") 90.80179775280898% 63.62179487179487% no-repeat;
}

.svg-greyhound-racing-dims {
    width: 20px;
    height: 12px;
}

.svg-horse {
    background: url("svg/sprite.css-22165d0e.svg") 94.25733634311513% 70.59133986928104% no-repeat;
}

.svg-horse-dims {
    width: 24px;
    height: 24px;
}

.svg-live-betting {
    background: url("svg/sprite.css-22165d0e.svg") 96.74774774774775% 70.59133986928104% no-repeat;
}

.svg-live-betting-dims {
    width: 22px;
    height: 24px;
}

.svg-live-casino {
    background: url("svg/sprite.css-22165d0e.svg") 99.44920993227991% 70.59133986928104% no-repeat;
}

.svg-live-casino-dims {
    width: 24px;
    height: 24px;
}

.svg-lobby-icon {
    background: url("svg/sprite.css-22165d0e.svg") 78.15628539071348% 70.59133986928104% no-repeat;
}

.svg-lobby-icon-dims {
    width: 27px;
    height: 24px;
}

.svg-main-logo {
    background: url("svg/sprite.css-22165d0e.svg") 66.02211302211302% 80.04244186046512% no-repeat;
}

.svg-main-logo-dims {
    width: 96px;
    height: 120px;
}

.svg-playstore {
    background: url("svg/sprite.css-22165d0e.svg") 69.4086407571382% 62.585887805148154% no-repeat;
}

.svg-playstore-dims {
    width: 135.716px;
    height: 40.019px;
}

.svg-soccer {
    background: url("svg/sprite.css-22165d0e.svg") 83.41797752808989% 76.57775974025974% no-repeat;
}

.svg-soccer-dims {
    width: 20px;
    height: 20px;
}

.svg-supernova {
    background: url("svg/sprite.css-22165d0e.svg") 71.49209932279909% 77.07826797385621% no-repeat;
}

.svg-supernova-dims {
    width: 24px;
    height: 24px;
}

.svg-tennis {
    background: url("svg/sprite.css-22165d0e.svg") 74.20090293453724% 77.07826797385621% no-repeat;
}

.svg-tennis-dims {
    width: 24px;
    height: 24px;
}

